.navbar{
    width: 100vw;
    height: 8vh;
    background-color: #1E1E1E;
    position: fixed;
    bottom: -1px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.categories{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    overflow-y: scroll;
}

.category{
    min-width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 32px;
    height: 32px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #8A8A8A;
}

.actual{
    background-color: #FFFFFF !important;
}