<div class="Categorie">
    <div class="categorieTitle">
        <div class="divider"></div>
        <p class="title">Nombre categoria</p>
        <div class="divider"></div>
    </div>
    <div class="products">
        <div class="productCard" (click)="test()" *ngFor="let product of productList">
            <img src="{{producto.image}}" alt="" class="productImage">
            <div class="productText">
                <p class="productTitle">{{product.nombre}}</p>
                <p class="productPrice">${{product.precio}}</p>
            </div>
        </div>
    </div>
</div>
